.App {
  text-align: center;
}
.App-content {
  background-color: #282c34;
  color: azure;
  min-height: 100vh;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* landing */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

p.slug {
  font-size: 24px;
}

.link {
  cursor: pointer;
}
.link:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

h1.find-trp {
  color: rgba(255, 255, 255, 0.8) !important;
}

h1.fix-white {
  color: rgb(255, 255, 255) !important;
}

.color-black-9 {
  color: rgba(0, 0, 0, 0.9) !important;
}
.color-black-8 {
  color: rgba(14, 14, 14, 0.8) !important;
}
.color-black-7 {
  color: rgba(14, 14, 14, 0.7) !important;
}
.color-white {
  color: rgba(255, 255, 255, 0.7) !important;
}
.color-pink {
  color: rgba(236, 122, 183, 0.7) !important;
}
.head-modal h1 {
  color: rgba(236, 122, 183, 0.7) !important;
}

.head-modal h1.invoice {
  color: rgba(14, 14, 14, 0.7) !important;
}

.clr-orange {
  color: #e67e22;
}
.clr-green {
  color: #0acf83;
}
.clr-red {
  color: #ff0742;
}

.color-bg-grey {
  background: #ededed;
}
.color-bg-grey-8 {
  background: #bbbbbb;
}
.clr-bg-grey {
  background: #ededed;
}
.color-bg {
  background: linear-gradient(180deg, #ec7a7a 0%, #ec7ab7 100%);
}

.color-bg-white {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}
.bg-primary {
  background: linear-gradient(180deg, #ec7a7a 0%, #ec7ab7 100%);
}
.bg-primary-90 {
  background: linear-gradient(90deg, #ec7ab7 100%, #ec7a7a 0%);
}
.bg-orange {
  color: #e67e22;
}

.bold-6 {
  font-weight: 600;
}
.bold-7 {
  font-weight: 700;
}
.bold-8 {
  font-weight: 800;
}

.drop-shadow-2 {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.box-shadow-5 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.box-shadow-2 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.center {
  text-align: center;
}

.btn-reg {
  min-width: 200px;
  padding-bottom: 37px !important;
  height: 36px;
  border-radius: 50px;
  border-color: rgb(236, 122, 139);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.btn-log {
  border-color: rgb(236, 122, 139);
  position: relative;
  min-width: 100px;
  height: 36px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.btn-log-mdl {
  height: 37px;
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
  border-color: rgb(236, 122, 139);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 17, 0);
  border-radius: 50px;
  padding: 5px;
  box-sizing: border-box;
  filter: drop-shadow(2px 0 2px rgba(0, 0, 0, 0.7));
}
.close {
  cursor: pointer;
}

.btn-log-mdl:hover {
  background: linear-gradient(90deg, #ec7a7a 0%, #ec7ab7 100%);
  border-color: rgb(236, 122, 139);
}

.btn-log:hover {
  background: linear-gradient(90deg, #ec7a7a 0%, #ec7ab7 100%);
  border-color: rgb(236, 122, 139);
}

.content {
  border: 1px solid black;
  text-align: center;
}

.head1-dashboard {
  font-size: 60px;
  color: rgb(255, 255, 255) !important;
  filter: drop-shadow(3px 0 2px rgba(0, 0, 0, 0.9));
}

.bold {
  font-weight: 900;
}

.App-link {
  color: #61dafb;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 80px;
}

.header {
  position: absolute;
  top: 0;
}

.footer h1.head1-dashboard {
  font-size: 50px !important;
  line-height: inherit;
}

.form-control {
  background-color: #e6e6e6 !important;
}

/* 
.modal-add-pay {
  width: 85% !important;
  margin: auto !important;
  min-height: 350px;
} */

.head-modal {
  position: relative;
  min-height: 120px;
  width: 100%;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}
.head-modal h1 {
  margin-top: 30px;
  font-weight: 900 !important;
  box-sizing: border-box;
}

.body-modal {
  padding-bottom: 40px;
}

/* landTrain */
.front-logo {
  width: 280px;
  height: 40px;
}

.btn-primary {
  stroke: linear-gradient(90deg, #ec7a7a 0%, #ec7ab7 100%);
  border-color: #ec7a7a !important;
}

button.register {
  border-color: rgb(236, 122, 139);
  position: relative;
  min-width: 100px;
  height: 36px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.container-nav-pedding-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button.register {
  background-color: white !important;
  color: #ec7a7a !important;
  font-weight: 900 !important;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

button.register:hover {
  /* background: linear-gradient(
    90deg,
    rgba(236, 122, 139, 0.4),
    rgba(236, 122, 139, 0.6)
  );
  border-color: rgb(236, 122, 139);
  scale: 20px; */
}

.img-landing {
  position: relative;
  /* F38120 */
  /* background-image: url("./assets/images/img-z0.jpeg"); */
  background-color: rgb(243, 129, 32);
  background-size: cover;
  width: 556px;
  height: 224px;
  /* background-color: teal; */
  border-radius: 4px;
  border: 4px solid rgb(245, 245, 245);
}
.img-landing::after {
  content: "";
  top: -16px;
  left: -18px;
  position: absolute;
  background-image: url("./assets/images/img-z1.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: teal;
  border-radius: 4px;
  border: 4px solid rgb(245, 245, 245);
}
.slug {
  color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}
.slug h3 {
  font-weight: bold !important;
}
.slug p:nth-child(1) {
  margin-top: 30px;
}
.slug p:nth-child(2) {
  margin-top: -10px;
}

.jumbotron-landing {
  padding: 2rem 2rem 4rem 2rem !important;
}
.order-panel {
  /* position: absolute; */
  /* left: 0; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -60px !important;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.faSubway-orange {
  border-left: 4px solid #e67e22;
}

.kreta {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
}

.cari-ticket {
  margin-top: 30px;
}

.field-list {
  border-radius: 4px;
  padding: 20px 10px 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.field-list:hover {
  cursor: pointer;
}

.klik-me {
  cursor: pointer;
}
.klik-me:hover {
  cursor: pointer;
  color: rgb(236, 122, 139);
}

.box-reg-pertama {
  overflow: hidden;
  width: 100% !important;
  height: 300px;
}
.box-reg-kedua {
  overflow: auto;
  /* width: 104%; */
  height: 290px;
}

/* admin page  */
.dashAdmin {
  position: relative;
}
.box-heigth-tr {
  min-height: 74vh;
}
.nav-admin {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
.icon-admin {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(236, 122, 139);
  background-image: url("./assets/images/icon/septe.png");
  background-size: cover;
  /* background-color: rgba(75, 75, 75, 0.7); */
}
.icon-user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(236, 122, 139);
  background-image: url("./assets/images/icon/boy-5.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(75, 75, 75, 0.7); */
}
.name-icon-user-admin {
  display: inline-block;
  color: rgb(236, 122, 139);
  font-weight: 900;
  font-size: 26px;
  margin-right: 20px;
  margin-top: 7px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  background: -webkit-linear-gradient(90deg, #ec7a7a 0%, #ec7ab7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-list-transaksi {
  font-weight: 600;
  color: #474747;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.list-tr {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 5px;
}

.field-tr-list {
  border-radius: 0px !important;
  border-left: 0px solid rgba(255, 255, 255, 0.4) !important;
  border-top: 0px solid rgba(255, 255, 255, 0.4) !important;
  border-right: 0px solid rgba(255, 255, 255, 0.4) !important;
}
.field-tr-list:hover {
  cursor: unset;
}

.opsi-admin-list {
  margin-right: 20px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  box-sizing: border-box;
}
.opsi-admin-list:nth-child(3) {
  margin-right: 0px;
}
.opsi-admin-list:nth-child(1):hover {
  color: #e67e22;
  cursor: pointer;
}
.opsi-admin-list:nth-child(2):hover {
  color: #0acf83;
  cursor: pointer;
}
.opsi-admin-list:nth-child(3):hover {
  color: #ff0742;
  cursor: pointer;
}

.admin-tools {
  position: relative;
}
.admin-tools:hover {
  cursor: pointer;
}

.opsi-admin {
  position: absolute;
  z-index: 1;
  left: -30%;
  top: 130%;
  border-radius: 4px;
  width: 130%;
  height: 140px;
  background-color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.arrow-drop {
  content: "";
  transform: rotate(45deg);
  position: absolute;
  background-color: white;
  top: -10px;
  right: 16px;
  width: 20px;
  height: 20px;
}

.add-ticket-adm {
  height: 70px;
  color: black;
  line-height: 70px;
  border-bottom: 2px solid #ec7ab7;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  box-sizing: border-box;
}
.logout-adm {
  color: black;
  height: 70px;
  line-height: 70px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.add-ticket-adm:hover {
  text-decoration: none;
  color: #0acf83;
  cursor: pointer;
}
.decorate-none:hover {
  text-decoration: none !important;
}
.logout-adm:hover {
  color: #ff0742;
  cursor: pointer;
}

/* admin invoice  */
.logo-invoice {
  padding-left: 20px;
  margin-top: 10px;
  width: 140px;
  height: 20px;
}
.box-logo-invoice {
  width: 26%;
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom-right-radius: 45px;
}
.box-logo-invoice-edit {
  width: 38%;
}

.edit-inv-title {
  margin-top: 2px !important;
}
.edit-inv-title h1 {
  font-size: 24px;
}
/* .head-modal {
  margin-top: -20px;
} */
.head-invoice {
  margin-top: -30px;
}
.head-modal h1.invoice {
  color: rgba(14, 14, 14, 0.7) !important;
}
.head-modal p {
  font-size: 12px;
  margin-top: -6px;
  color: rgba(14, 14, 14, 0.7) !important;
}

.invoice-name p {
  font-size: 12px;
}
.invoice-name p span {
  font-weight: 800;
}

.img-code img {
  width: 90px;
  float: right;
}

.struct {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: right;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.struct img {
  width: 220px;
  height: 260px;
  margin: auto !important;
}
.detail-invoice-adm {
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.i-detail-user p:nth-child(2) {
  margin-top: 20px;
  color: #0000005e;
}
.i-detail-user p:nth-child(1) {
  font-weight: 700;
}

.detail-invoice-adm {
  padding-top: 10px;
  line-height: 10px !important;
}

.adm-i-total {
  margin-top: 6px;
  background: rgba(17, 17, 17, 0.2);
  margin-bottom: 16px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.adm-i-total span {
  margin-top: -18px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
}
.adm-i-total span:nth-child(2) {
  position: absolute;
  right: 0;
  margin-right: 16px;
  color: #ff0742;
}
.form-adm-edit-inv {
  margin-top: -40px;
}

.adm-add-ticket {
  min-height: 82vh;
}

/* user */
.opsi-user {
  height: 180px;
}

.add-ticket-usr {
  margin-bottom: -30px;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.5));
  border-bottom: 2px solid #ffffff;
}
.add-ticket-usr span {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.box-pay {
  border-radius: 6px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  position: relative;
}
.logopay {
  margin-left: -1.5%;
}

.payment {
  margin-top: -28px;
  padding-right: 24px;
  width: 100%;
  position: absolute;
}

.pay-title {
  /* margin-top: -90px; */
}
.fill-detail-pay {
  margin-top: 78px;
}

.foot-pay {
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.click-pay {
  text-align: right !important;
  padding-right: 0px !important;
}

.click-pay-btn {
  display: inline-block !important;
  margin-top: 14px;
  line-height: inherit;
}
.box-pay-warning {
  height: 100px;
  line-height: 100px;
}
.box-pay-warning p {
  margin-top: 6px;
  line-height: 24px;
}
.box-pay-warning p:nth-child(2) {
  margin-top: -4px;
  font-weight: 800;
}
.box-heigth-pay-now {
  min-height: 80vh;
}

.tbl-paynow-detail {
  width: 100%;
}
.tbl-paynow-detail thead {
  border-bottom: 2px solid #eaeaea;
}
.tbl-paynow-detail td,
.tbl-paynow-detail th {
  padding: 4px;
  padding-left: 30px;
}

.total-paynow th {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pay-click-now {
  position: relative;
}
.btn-pay-now-mdl {
  position: absolute;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.detail-pay-click-now {
  position: relative;
}
.prof-img-click-now {
  position: absolute;
  right: 0;
  text-align: right;
  overflow: hidden;
  min-height: 205px;
}

.payment-prof-img {
  position: absolute;
  right: 4px;
  height: 200px;
}

.code-pay-click-now {
  position: relative;
}
.code-pay-click-now img {
  position: absolute;
  width: 80px;
  height: 80px;
  right: -10px;
}

.pay-now {
  min-height: 0px !important;
}

.click-disini:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 800;
}

/* disable blue when click image  */
/* *::selection {
  background-color: transparent;
} */
*::-moz-selection {
  background-color: transparent;
}
* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* dashboard */
/* z */
/* textarea:hover, disable css bootraps
input:hover,
textarea:active,
input:active,
textarea:focus,
select:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
} */
button:active,
.input:active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
button:focus,
.input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* loader  */
.loader {
  position: absolute;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.info-dialog {
  font-size: 60px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-min {
  position: absolute;
  margin: -60px 0 0 -60px;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}
@-moz-keyframes loader {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes loader {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
